In [1]:
from runner import Runner
import pandas as pd

In [2]:
data_path, test_data_path = "data/train.csv", "data/test.csv"

In [3]:
data = pd.read_csv(data_path)
test_data = pd.read_csv(test_data_path) if test_data_path is not None else None
data = data.dropna()
data.head(50).shape

(50, 5)

In [6]:
run = Runner(data, None)
run.data.head()

,id,title,author,text,label
20311,20311,"Doomsday Clock Moves Closer to Midnight, Signa...",Jonah Engel Bromwich,"It is getting closer to midnight. On Thursday,...",0
7781,7781,Assad thanks Putin for assistance in fighting ...,TASS,Assad thanks Putin for assistance in fighting ...,1
13408,13408,"Trump Saved Jobs at Carrier, but More Midwest ...",Nelson D. Schwartz,"In tiny Sellersburg, Ind. just across the bord...",0
13770,13770,"The 2016 Presidential Race, Explained - The Ne...",Liam Stack,Presidential campaigns are complicated. Confus...,0
10952,10952,Trophy Hunting Fees Do Little to Help Threaten...,Jada F. Smith,"WASHINGTON — Advocates of trophy hunting, a...",0

In [7]:
run.load_embeddings(article_col='text', header_col='title', url_col=None, target_col='label')

Building embeddings for headlines...
Inferring article embeddings via doc2vec...

HBox(children=(FloatProgress(value=0.0, max=18285.0), HTML(value='')))

In [8]:
# [x['label'] for x in run.data.iloc if pd.isna(x['text'])]

In [9]:
run.data.loc[3]

id                                                        3
title     15 Civilians Killed In Single US Airstrike Hav...
author                                      Jessica Purkiss
text      Videos 15 Civilians Killed In Single US Airstr...
label                                                     1
Name: 3, dtype: object

In [ ]:
model = run.train_model()

HBox(children=(FloatProgress(value=0.0, max=68700.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=22950.0), HTML(value='')))

In [ ]:
run.test()

In [ ]:
run.understand()